.intro {
    /* background-color: rgba(241, 239, 239, 1); */
    width: 100%;
    height: 300px;
    background-image: url('/assets/images/proj3.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro section {
    text-align: left;
    vertical-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 80%;
}

section h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Dosis', sans-serif; */
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 25px;
}

section p {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Dosis', sans-serif; */
    color: white;
    line-height: 25px;
}

.proj {
    background-color: white;
    height: 3000px;
}

.proj section {
    text-align: left;
    vertical-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 80%;
}

.card {
    background-color: white;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.proj h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.proj p {
    font-family: 'Dosis', sans-serif;
}

.proj img {
    float: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 10px;
    /* margin-bottom: 20px;
    margin-left: 30px; */
    /* max-width: 300px;
    min-width: 200px; */
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    /*grow*/
}

@media (max-width: 1200px) {
    .proj section {
        width: 90%;
    }
}

@media (max-width: 824px) {
    /*breakpoint*/
    .row {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .proj {
        height: 3000px;
    }
    .column {
        margin-bottom: 15px;
    }
}

.mat-stroked-button {
    color: grey;
    border-color: black;
    outline: none;
    margin-right: 5px;
    padding: 0 15px;
    line-height: 34px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    min-width: 64px;
    border-radius: 4px;
    overflow: visible;
}

.mat-stroked-button:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.btn-row {
    display: flex;
    vertical-align: left;
    margin-bottom: 10px;
}