<div class="intro">
    <section>
        <h1>Projects</h1>
        <p style="font-size:18px;">This page showcases personal, group, and school projects
            that I created or contributed to.</p>
    </section>
</div>
<div class="proj">
    <section>
        <div class="row">
            <div class="column card">
                <h2>Android Flashcards App</h2>
                <p style="font-size:14px;color:grey">Present</p>
                <img src="/assets/images/flash.png">
                <p style="font-size:20px;color:black">Flash cards app for android to help with school work review</p>
                <p style="font-size:14px;color:grey">Java, XML, SQLite, Android Studio, Figma</p>
            </div>
            <div class="column card">
                <h2>ROS Robot Navigation Node</h2>
                <p style="font-size:14px;color:grey">Present</p>
                <img src="/assets/images/navnode.png">
                <p style="font-size:20px;color:black">Implemented an obstacle avoidance node using ROS LaserScan data to
                    navigate a modified RC car through a hole and avoid obstacles
                </p>
                <p style="font-size:14px;color:grey">C++, ROS, Rviz, Ubuntu</p>
            </div>
            <div class="column card">
                <h2>Coin Picking Robot</h2>
                <p style="font-size:14px;color:grey">April 2020</p>
                <img src="/assets/images/robot.jpg">
                <p style="font-size:20px;color:black">A battery operated coin picking robot functioning automatically
                    and manually with a remote control.</p>
                <div class="btn-row">
                    <a class="mat-stroked-button" href="https://github.com/Abeilles14/Project-2-Coin-Picking-Robot">
                        <p style="text-align:center;margin:auto;color:black">Github</p>
                    </a>
                    <a class="mat-stroked-button" href="https://youtu.be/8Y1d17aWCrQ">
                        <p style="text-align:center;margin:auto;color:black">Youtube</p>
                    </a>
                    <a class="mat-stroked-button" href="assets/projects/report1.pdf">
                        <p style="text-align:center;margin:auto;color:black">Report</p>
                    </a>
                </div>
                <p style="font-size:14px;color:grey">C, STM32F051, EFM8, Makefiles, NRF24 Transceiver, BO230XS USB
                    Serial</p>
            </div>
        </div>
        <div class="row">
            <div class="column card">
                <h2>Electrical Project Studio</h2>
                <p style="font-size:14px;color:grey">March 2020</p>
                <img src="/assets/images/elec.jpg">
                <p style="font-size:20px;color:black">Series of electronics labs including creating an alarm clock,
                    digital thermometer, capacitance meter, etc.</p>
                <p style="font-size:14px;color:grey">C, 8051 Assembly, EFM8, AT89LP51RC2</p>
            </div>
            <div class="column card">
                <h2>Reflow Oven Controller</h2>
                <p style="font-size:14px;color:grey">February 2020</p>
                <img src="/assets/images/reflow.jpg">
                <p style="font-size:20px;color:black">A reflow oven controller connected to an oven to perform reflow
                    soldering of electronic components onto a PCB</p>
                <div class="btn-row">
                    <a class="mat-stroked-button" href="https://github.com/Abeilles14/Project-1-Reflow-Oven-Controller">
                        <p style="text-align:center;margin:auto;color:black">Github</p>
                    </a>
                    <a class="mat-stroked-button" href="assets/projects/report2.pdf">
                        <p style="text-align:center;margin:auto;color:black">Report</p>
                    </a>
                </div>
                <p style="font-size:14px;color:grey">C, STM32F051, EFM8, Makefiles, NRF24 Transreceiver, BO230XS USB
                    Serial</p>
            </div>
            <div class="column card">
                <h2>Simple Risc Machine</h2>
                <p style="font-size:14px;color:grey">December 2019</p>
                <img src="/assets/images/wave.png">
                <p style="font-size:20px;color:black">Series of microcontroller labs constisting in creating state
                    machines, datapaths, controllers, and CPUs</p>
                <div class="btn-row">
                    <a class="mat-stroked-button" href="https://github.com/Abeilles14/Microcontrollers">
                        <p style="text-align:center;margin:auto;color:black">Github</p>
                    </a>
                </div>
                <p style="font-size:14px;color:grey">DE1 SoC, Veriolog, ARM Assembly, Model Sim, Quartus</p>
            </div>
        </div>
        <div class="row">
            <div class="column card">
                <h2>uFlourish: Mental Health Tracker</h2>
                <p style="font-size:14px;color:grey">October 2019</p>
                <img src="/assets/images/uflourish.png">
                <p style="font-size:20px;color:black">A mental health tracker consisting of a survey and journal, a
                    stats page, and a chat bot</p>
                <p style="font-size:14px;color:grey">Javascript, HTML, CSS, Azure</p>
            </div>
            <div class="column card">
                <h2>Airbnb App</h2>
                <p style="font-size:14px;color:grey">July 2019</p>
                <img src="/assets/images/bnb.png">
                <p style="font-size:20px;color:black">An AirBnb style web application including a consumer app, a
                    provider app, and an admin panel, from front-end to back-end, connected to an SQL database.</p>
                <div class="btn-row">
                    <a class="mat-stroked-button" href="https://github.com/Abeilles14/OnTheFly_Airbnb_app">
                        <p style="text-align:center;margin:auto;color:black">Github</p>
                    </a>
                </div>
                <p style="font-size:14px;color:grey">Javascript, Typescript, HTML, CSS, Bootstrap, Express, Angular,
                    Ionic, mySQL, Node.Js</p>
            </div>
            <div class="column card">
                <h2>Rainwater Harvesting System</h2>
                <p style="font-size:14px;color:grey">April 2019</p>
                <img src="/assets/images/RWH.PNG">
                <p style="font-size:20px;color:black">Created a rain water harvesting prototype system simulation for a
                    remote community taking into consideration various elements such as filters, power, pumps, and costs
                </p>
                <div class="btn-row">
                    <a class="mat-stroked-button"
                        href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRO8uyW4pVD8CTmy5XJS12LYVosD0gkq1Kj2AgNZKWvq4_32FoThc1L2P75aD0wz_6lUDpPMkLnhcfK/pubhtml">
                        <p style="text-align:center;margin:auto;color:black">Simulation</p>
                    </a>
                    <a class="mat-stroked-button"
                        href="https://docs.google.com/presentation/d/e/2PACX-1vReVg4qUj-aqbZvtTnIt5KXvkcDgHML1BQHCbxOL0XqaY8HzMYjCPBSnxR21VgOCDljpnd0HVr0ld4C/pub?start=false&loop=true&delayms=3000">
                        <p style="text-align:center;margin:auto;color:black">Slides</p>
                    </a>
                </div>
                <p style="font-size:14px;color:grey">Microsoft Excel, Google Sheets</p>
            </div>
        </div>
        <div class="row">
            <div class="column card">
                <h2>Autonomous Arduino Claw</h2>
                <p style="font-size:14px;color:grey">January 2019</p>
                <img src="/assets/images/draw1.jpg">
                <p style="font-size:20px;color:black">Designed and programmed a mechanical claw using Arduino boards and
                    aluminum sheets to pick up various objects of different shapes, sizes, and weights</p>
                <p style="font-size:14px;color:grey">C, Arduino</p>
            </div>
            <div class="column card">
                <h2>Adaptive Device For Disabled</h2>
                <p style="font-size:14px;color:grey">November 2018</p>
                <img src="/assets/images/adap.PNG">
                <p style="font-size:20px;color:black">Designed bottle and can opening accessory for the disabled and
                    written technical documentation.</p>
                <div class="btn-row">
                    <a class="mat-stroked-button" href="assets/projects/tech_memo.pdf">
                        <p style="text-align:center;margin:auto;color:black">Tech Memo</p>
                    </a>
                </div>
                <p style="font-size:14px;color:grey">Solidworks</p>
            </div>
            <div class="column card">
                <h2>Cardboard Chair</h2>
                <p style="font-size:14px;color:grey">October 2018</p>
                <img src="/assets/images/chair.png">
                <p style="font-size:20px;color:black">Foldable cardboard chair that supports up to 200 pounds</p>
                <p style="font-size:14px;color:grey">Solidworks</p>
            </div>
        </div>
        <div class="row">
            <div class="column card" style="padding-right:15px;">
                <h2>Snake Game</h2>
                <p style="font-size:14px;color:grey">June 2017</p>
                <p style="font-size:20px;color:black">Computer Snake game created with Java and designed with GUIs</p>
                <p style="font-size:14px;color:grey">Java, GUI, NetBeans</p>
            </div>
            <div class="column card">
                <h2>Minesweeper Game</h2>
                <p style="font-size:14px;color:grey">June 2016</p>
                <p style="font-size:20px;color:black">Computer game created with Turing</p>
                <p style="font-size:14px;color:grey">Turing</p>
            </div>
            <div class="column" style="padding:15px">
            </div>
        </div>
    </section>
</div>