<div class="intro">
    <section>
        <h1>Projects</h1>
        <p style="font-size:18px;">This page showcases personal, group, and school projects
            that I created or contributed to.</p>
    </section>
</div>
<div class="proj">
    <section>
        <div class="row">
            <div class="column"><h2>Android Flashcards App</h2></div>
            <div class="column"><h2>ROS Robot Navigation Node</h2></div>
            <div class="column"><h2>Coin Picking Robot</h2></div>
        </div>
        <div class="row">
                <div class="column"><h2>Electrical Project Lab</h2></div>
                <div class="column"><h2>Reflow Oven Controller</h2></div>
                <div class="column"><h2>Simple Risc Machine</h2></div>
            </div>
    </section>
</div>