<div id="top" class="intro">
    <section>
        <h1 style="margin-bottom:45px">Resume</h1>
        <a href="assets/resume/resume_jun2021.pdf" target="_blank">
            <button mat-button class="mat-stroked-button" style="color:white;font-size:18px;outline:none">
                <mat-icon style="color:white">file_download</mat-icon>
                Download PDF
            </button>
        </a>
    </section>
</div>

<div class="res-block">
    <section>
        <h1 class="page-title" style="text-align:center;margin-bottom:68px">Work Experience</h1>
        <div>
            <div class="content">
                <img src="/assets/resume/skytrac_logo.jpg" style="width:30%;min-width:290px;">
                <div class="text">
                    <h2>Skytrac Systems</h2>
                    <p style="font-size:22px;font-weight:bold">Software Test Engineer</p>
                    <p style="font-size:16px;">May 2021 - August 2021</p>
                    <p>
                        <li>Automated the testing of a gRPC server and endpoints and the installation 
                            of the required test tools using bash scripts and gRPCurl</li>
                        <li>Developed and automated test cases for data acquisition hardware 
                            transmitting 4D aircraft data in real time</li>
                        <li>Created test plans and executed test cases for flight data monitoring
                            and onboard data analysis equipment</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/ubc_apsc.png" style="width:30%;min-width:290px;">
                <div class="text">
                    <h2>UBC Robotics and Controls Lab</h2>
                    <p style="font-size:22px;font-weight:bold">Undergraduate Research Assistant</p>
                    <p style="font-size:16px;">December 2020 - Present</p>
                    <p>
                        <li>Developed a task planning software for trilateral tasks using da Vinci
                            Research Kit robotic surgery platform, ROS, and Coppelia simulation</li>
                        <li>Created a state machine for a 3rd arm running a pick-and-place task to
                            control and coordinate the arms in an efficient manner</li>
                        <li>Use computer vision libraries to locate objects and coordinate 
                            the arms to accomplish the task in an efficient manner</li>
                        <li>Integrating motion planning and collision avoidance with the Coppelia Simulator
                            using API functions and routines calculating individual paths of each arm</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/teradici_logo.png" style="width:30%;min-width:290px;">
                <div class="text">
                    <h2>Teradici</h2>
                    <p style="font-size:22px;font-weight:bold">Associate Software Developer</p>
                    <p style="font-size:16px;">May 2020 - December 2020</p>
                    <p>
                        <li>Expanded and improved the build system required to generate a PCoIP Client for Windows, Mac,
                            Linux, and mobile platforms</li>
                        <li>Improved the automation infrastructure by integrating new tools to
                            reduce manual steps and errors, saving engineers hours of work</li>
                        <li>Developed and tested numerous features in soft client licensing for software activation and client
                            subscription plans</li>
                        <li>Converted framework modules from Python 2 to 3 and created
                            custom test scripts to ensure backward compatibility of new code</li>
                        <li>Improved the stability of test infrastructure and test framework while cleaning the code
                            base and enforcing PEP8 Python conventions</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/launchpad_logo.jpg" style="width:30%;min-width:300px">
                <div>
                    <h2>UBC Launchpad</h2>
                    <p style="font-size:22px;font-weight:bold">Software Engineer</p>
                    <p style="font-size:16px;">September 2020 - Present</p>
                    <p>
                        <li>Developed an iOS mobile application to track and classify a group’s
                            expenses with notifications using Swift, Node.js, and SQL</li>
                        <li>Built application infrastructure and backend API, and containerized
                            the backend with a mySQL database using Docker</li>
                        <li>Created SQL stored procedures for each API endpoint and implemented 
                            group expense splitting feature for each user</li>
                        <li>Developed the frontend's Activity feed in Swift to display 
                            most recent payements and transfers completed</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/uas_logo.png" style="width:30%;min-width:300px">
                <div>
                    <h2>UBC Unmanned Aircraft Systems</h2>
                    <p style="font-size:22px;font-weight:bold">Systems Software Engineer</p>
                    <p style="font-size:16px;">September 2020 - Present</p>
                    <p>
                        <li>Developed a QR scanning Python program using OpenCV to display
                            outputs on the screen, then soldered and tested the rover’s FPV
                            camera system with the QR scanning program</li>
                        <li>Developed a python flask API obtaining telemetry for data
                            processing and computing the speed and heading of an aircraft</li>
                        <li>Created API endpoints processing other aircrafts’ telemetry at
                            intervals from an interoperability server to avoid collisions</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/rapids_logo.png" style="width:30%;min-width:300px">
                <div>
                    <h2>UBC Rapids</h2>
                    <p style="font-size:22px;font-weight:bold">Co-Captain</p>
                    <p style="font-size:16px;">September 2018 - Present</p>
                    <p>
                        <li>Managed a team of 20+ students contributing to our Consulting, 3D
                            printing, and 3D printer construction and maintenance subteams</li>
                        <li>Build and maintain 3D printers while and optimizing the firmware
                            and printing mechanisms</li>
                        <li>Lead the design and construction of a new compact and portable 3D
                            printer including CAD design, firmware, and electronic parts </li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/appstrax_logo.jpg" style="width:30%;min-width:300px">
                <div>
                    <h2>Appstrax Tech</h2>
                    <p style="font-size:22px;font-weight:bold">Full Stack Software Engineer</p>
                    <p style="font-size:16px;">July 2019 - August 2019</p>
                    <p>
                        <li>Implemented a ticketing solution for providers and clients to track projects on a single
                            interface using NodeJS and Angular</li>
                        <li>Created a REST Api with Loopback, connected to an SQL database</li>
                        <li>Integrated black-box testing, writing over 20 Acceptance, Integration, and Unit tests
                            to aid in future development of project</li>
                    </p>
                </div>
            </div>
            <!-- <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/snowbots_logo.png" style="width:30%;min-width:300px">
                <div>
                    <h2>UBC Snowbots</h2>
                    <p style="font-size:22px;font-weight:bold">Software Team Member</p>
                    <p style="font-size:16px;">September 2019 - Present</p>
                    <p>
                        <li>Developed programs assessing surroundings and controlling the robot's
                            movements to perform various tasks </li>
                        <li>Implemented obstacle avoidance nodes to steer robot around obstacles towards
                            a hole in line of cones</li>
                    </p>
                </div>
            </div> -->
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/GLF_logo.png" style="width:43%;min-width:300px;">
                <div>
                    <h2>Goodlife Fitness</h2>
                    <p style="font-size:22px;font-weight:bold">Personal Trainer, Team Training Instructor</p>
                    <p style="font-size:16px;">December 2017 - June 2018</p>
                    <p>
                        <li>Lead fitness consults and assessments with clients and potential clients, 
                            developing customized personal training plans</li>
                        <li>Managed and built own personal training business with over 25 clients</li>
                        <li>Educated clients on effective ways to exercise and monitored proper execution and progress</li>
                    </p>
                </div>
            </div>
        </div>

    </section>
</div>