<div class="intro">
    <section>
        <h1 style="margin-bottom:45px">Resume</h1>
        <a href="assets/resume/resume_may2020.pdf">
            <button mat-button class="mat-stroked-button" style="color:white;font-size:18px;outline:none">
                <mat-icon style="color:white">file_download</mat-icon>
                Download PDF
            </button>
        </a>
    </section>
</div>
<div class="res">
    
    <!-- <section> -->

        <object data="assets/resume/resume_may2020.pdf" type="application/pdf" width="100%" height="100%">
            <iframe src="assets/resume/resume_may2020.pdf" width="100%" height="100%" style="border: none;">
            </iframe>
        </object>

    <!-- </section> -->
</div>