<div id="top" class="intro">
    <section>
        <h1 style="margin-bottom:45px">Resume</h1>
        <a href="assets/resume/resume_aug2020.pdf" target="_blank">
            <button mat-button class="mat-stroked-button" style="color:white;font-size:18px;outline:none">
                <mat-icon style="color:white">file_download</mat-icon>
                Download PDF
            </button>
        </a>
    </section>
</div>

<div class="res-block">
    <section>
        <h1 class="page-title" style="text-align:center;margin-bottom:68px">Work Experience</h1>
        <div>
            <div class="content">
                <img src="/assets/resume/teradici_logo.png" style="width:30%;min-width:290px;">
                <div class="text">
                    <h2>Teradici</h2>
                    <p style="font-size:22px;font-weight:bold">Associate Software Engineer</p>
                    <p style="font-size:16px;">May 2020 - Present</p>
                    <p>
                        <li>Expanded and improved the build system required to generate a PCoIP Client for Windows, Mac,
                            Linux, and mobile platforms</li>
                        <li>Developed and tested numerous features in soft client licensing for software activation and client
                            subscription plans</li>
                        <li>Converted all automation test framework modules from Python 2 to 3 and adjusted tests scripts to ensure
                            Python compatibility.</li>
                        <li>Improved the stability of test infrastructure and test framework while cleaning the code
                            base and enforcing PEP8 Python conventions</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/appstrax_logo.jpg" style="width:30%;min-width:300px">
                <div>
                    <h2>Appstrax Tech</h2>
                    <p style="font-size:22px;font-weight:bold">Full Stack Software Engineer</p>
                    <p style="font-size:16px;">July 2019 - August 2019</p>
                    <p>
                        <li>Implemented a ticketing solution for providers and clients to track projects on a single
                            interface using NodeJS and Angular</li>
                        <li>Created a REST Api with Loopback, connected to an SQL database</li>
                        <li>Integrated black-box testing, writing over 20 Acceptance, Integration, and Unit tests
                            to aid in future development of project</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/snowbots_logo.png" style="width:30%;min-width:300px">
                <div>
                    <h2>UBC Snowbots</h2>
                    <p style="font-size:22px;font-weight:bold">Software Team Member</p>
                    <p style="font-size:16px;">September 2019 - Present</p>
                    <p>
                        <li>Developed programs assessing surroundings and controlling the robot's
                            movements to perform various tasks </li>
                        <li>Implemented obstacle avoidance nodes to steer robot around obstacles towards
                            a hole in line of cones</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/rapids_logo.png" style="width:30%;min-width:300px">
                <div>
                    <h2>UBC Rapids</h2>
                    <p style="font-size:22px;font-weight:bold">Rapid Prototyping Team Member</p>
                    <p style="font-size:16px;">September 2018 - Present</p>
                    <p>
                        <li>Built, optimized, and conducted maintenance checks on Prusa Mk3 printers</li>
                        <li>Completed 3D print orders for other design teams, choosing optimal printing settings</li>
                    </p>
                </div>
            </div>
            <hr>
            <br>
            <div class="content">
                <img src="/assets/resume/GLF_logo.png" style="width:43%;min-width:300px;">
                <div>
                    <h2>Goodlife Fitness</h2>
                    <p style="font-size:22px;font-weight:bold">Personal Trainer, Team Training Instructor</p>
                    <p style="font-size:16px;">December 2017 - June 2018</p>
                    <p>
                        <li>Lead over 80 sales consults with potential clients, developing and successfully
                            selling individual and group personal training packages based on a pyramid method
                            of sales</li>
                        <li>Managed and built own personal training business with over 25 clients</li>
                        <li>Educated clients on effective ways to exercise and monitored proper execution and progress
                        </li>
                    </p>
                </div>
            </div>
        </div>

    </section>
</div>