<!-- <!DOCTYPE html>
<html lang="en">

<div id="top" class="intro">
    <section>
        <h1>Photography Grid</h1>
        <p style="font-size:18px;color:white;line-height:1.5">
            Some of my favourite adventures and shots</p>
    </section>
</div> -->

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://unpkg.com/nanogallery2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://unpkg.com/nanogallery2/dist/jquery.nanogallery2.min.js"></script> -->

<!-- <script type="text/javascript">
    $(document).ready(function() {
        $("#my_nanogallery2").nanogallery2({
            items: this.album,
            itemsBaseURL: "https://lh3.googleusercontent.com/",
            locationHash: false,
            thumbnailBorderVertical: 0,
            thumbnailBorderHorizontal: 0,
            thumbnailLabel: {
                position: "overImageOnBottom"
            },
            thumbnailHoverEffect2: "imageScaleIn80|labelAppear75",
            thumbnailAlignment: "center",
            thumbnailOpenImage: true,
            thumbnailWidth: "auto",
            thumbnailHeight: 300
        })
    });
</script>
-->
<!-- <div id="my_nanogallery2"></div> -->

<!-- <script type="text/javascript" src="assets/scripts/jquery.min.js"></script>

<link href="https://unpkg.com/nanogallery2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="assets/scripts/jquery.nanogallery2.js"></script> -->


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://unpkg.com/nanogallery2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://unpkg.com/nanogallery2/dist/jquery.nanogallery2.js"></script>


<h1>Gallery made with nanogallery</h1>

<h3>
  nanogallery2 - create one gallery (Javascript method)
</h3>

<script>
jQuery(document).ready(function () {
  jQuery("#my_nanogallery2").nanogallery2({
  	items:[
      { src: 'berlin1.jpg', srct: 'berlin1t.jpg', title: 'Berlin 1' },
      { src: 'berlin2.jpg', srct: 'berlin2t.jpg', title: 'Berlin 2' },
      { src: 'berlin3.jpg', srct: 'berlin3t.jpg', title: 'Berlin 3' }
		],
    thumbnailWidth:  'auto',
  	thumbnailHeight: 100,
    itemsBaseURL:    'https://nanogallery2.nanostudio.org/samples/',
    
		locationHash:    false
  });
});
</script>

<div id="my_nanogallery2"></div>
