<div id="top" class="intro">
    <section>
        <h1>Photography Grid</h1>
        <p style="font-size:18px;color:white;line-height:1.5">
            Some of my favourite adventures and shots</p>
    </section>
</div>

<link href="https://unpkg.com/nanogallery2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">

<div id="my_nanogallery2"></div>

<!-- <div class="res-block">
    <section>
        <h1 class="page-title" style="text-align:center;margin-bottom:68px">Photography</h1>
        <div>
            <div id="my_nanogallery2"></div>
        </div>
    </section>
</div> -->



<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://unpkg.com/nanogallery2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://unpkg.com/nanogallery2/dist/jquery.nanogallery2.js"></script> -->

<!-- <script type="text/javascript">
    $(document).ready(function() {
        $("#my_nanogallery2").nanogallery2({
            items: this.album,
            itemsBaseURL: "https://lh3.googleusercontent.com/",
            locationHash: false,
            thumbnailBorderVertical: 0,
            thumbnailBorderHorizontal: 0,
            thumbnailLabel: {
                position: "overImageOnBottom"
            },
            thumbnailHoverEffect2: "imageScaleIn80|labelAppear75",
            thumbnailAlignment: "center",
            thumbnailOpenImage: true,
            thumbnailWidth: "auto",
            thumbnailHeight: 300
        })
    });
</script>
-->