<mat-toolbar class="bg-nav fixed-top" style="min-height:60px; max-height:60px;">
    <mat-toolbar-row class="flexSpace">
        <header class="logo">IAndre</header>
        <div fxShow="true" fxHide.lt-md>
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <ul class="nav flex=column toolbar">
                <li *ngFor="let navItem of navItems">
                    <button type="button" class="toolbarbtn" (click)="navTo(navItem)">{{navItem.name}}</button>
                </li>
            </ul>
        </div>
        <!-- displays sidenav button when screen small-->
        <div fxShow="true" fxHide.gt-sm>
            <button mat-icon-button (click)="sidenav.toggle()" *ngIf="true">
                <mat-icon aria-label="Side nav toggle icon" class="menu-icon" *ngIf="!sidenav.opened; else showCross">
                    menu</mat-icon>
                <ng-template #showCross>
                    <mat-icon aria-label="Side nav toggle icon" class="menu-icon">close</mat-icon>
                </ng-template>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- side nav toggle-->
<mat-sidenav-container fxFlexFill class="fixed-top">
    <mat-sidenav style="width: 260px;" #sidenav class="bg-nav" position="end">
        <ul>.</ul>
        <ul>.</ul>
        <mat-nav-list class="sidebar">
            <ul *ngFor="let navItem of navItems">
                <button type="button" class="sidebarbtn"
                    (click)="navTo(navItem); sidenav.toggle()">{{navItem.name}}</button>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
        <!-- footer -->
        <footer>
            <div class="footer">
                <div style="text-align:left" class="row">
                    <div class="column">
                        <h3>About</h3>
                        <p>I am Isabelle, a 3rd Year Electrical Engineering Student
                            at the University of British Columbia, Vancouver</p>
                    </div>
                    <div class="column">
                        <h3>Contact</h3>
                        <p> Feel free to contact me and say hello or give me feedback!<br>
                            Email: isabelle.andre@alumni.ubc.ca<br>
                            Github: <a href="https://github.com/Abeilles14">https://github.com/Abeilles14</a><br>
                            LinkedIn: <a href="https://www.linkedin.com/in/isabelle-andre-ia/">https://www.linkedin.com/in/isabelle-andre-ia/</a>
                        </p>
                    </div>
                </div>
                <div>
                    <h1 style="font-family:'Lobster', cursive;">IAndre</h1>
                    <p>&copy; Copyright 2020 <i>Isabelle Andre</i></p>
                </div>
            </div>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>