<!-- Container element -->
<div class="parallax">
    <article class="titles">
        <h1>I am Isabelle</h1>
        <h2>A 3rd year Electrical Engineering Student</h2>
        <a href="#home-about">read more...</a>
    </article>
</div>


<!-- about layout -->
<div class="about-block">
    <div class="container">
        <section class="home-main">
            <p class="main-para">aliquip sunt aut efflorescere fore praesentibus tamen quae eram officia
                illustriora est tempor o id quis adipisicing appellat sed multos ea lorem
                sempiternum qui doctrina ab dolor senserit tractavissent an probant
                instituendarum elit culpa qui magna tempor aliquip quamquam minim voluptate
                legam arbitrantur graviterque eu</p>

            <img class="main-image" src="/assets/images/prof1.jpg" alt="profile picture">
        </section>
    </div>
</div>

<div class="parallax"></div>