<div id="top" class="intro">
    <section>
        <h1>Course Notes</h1>
        <p style="font-size:18px;color:white;line-height:1.5">This page contains a selected list of handwritten and
            typed class notes and other documents recorded for academic courses.</p>
    </section>
</div>
<div class="notes">
    <section>
        <!-- <div class="row"> -->
        <div class="column">
            <h2>Electromagnetism & Vector Calculus</h2>
            <p style="font-size:14px;color:grey">ELEC 211 & MATH 264</p>
            <hr>
            <li *ngFor="let topic of elec211Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
            <h2>Minds And Machines</h2>
            <p style="font-size:14px;color:grey">PHIL 250</p>
            <hr>
            <li *ngFor="let topic of phil250Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
            <h2>Engineering and Sustainability</h2>
            <p style="font-size:14px;color:grey">CIVL 250</p>
            <hr>
            <li *ngFor="let topic of civl250Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
        </div>
        <div class="column">
            <h2>Circuit Analysis II</h2>
            <p style="font-size:14px;color:grey">ELEC 202</p>
            <hr>
            <li *ngFor="let topic of elec202Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
            <h2>Data Structures</h2>
            <p style="font-size:14px;color:grey">CPSC 259</p>
            <hr>
            <li *ngFor="let topic of cpsc259Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
            <h2>Intermediate Japanese</h2>
            <p style="font-size:14px;color:grey">JAPN 201, Self-Study</p>
            <hr>
            <li *ngFor="let topic of japn201Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
        </div>
        <div class="column">
            <h2>Signals and Systems</h2>
            <p style="font-size:14px;color:grey">ELEC 221</p>
            <hr>
            <li *ngFor="let topic of elec221Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
            <h2>Applied Linear Algebra</h2>
            <p style="font-size:14px;color:grey">MATH 307</p>
            <hr>
            <li *ngFor="let topic of math307Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
            <h2>Elementary Japanese</h2>
            <p style="font-size:14px;color:grey">JAPN 101, Self-Study</p>
            <hr>
            <li *ngFor="let topic of japn101Topics">
                <a href={{topic.link}} target="_blank">{{topic.name}}</a>
            </li>
            <br>
        </div>
    </section>
</div>