<!-- Container element -->
<div id="top" class="parallax">
    <article class="titles">
        <h1>Isabelle André</h1>
        <h2>4th year Electrical Engineering Student</h2>
        <a class="read" (click)="onClick()">read more...</a>
    </article>
</div>

<!-- about layout -->
<div id="home-about" class="about-block">
    <h1 class="page-title" style="text-align:center" position="relative">About</h1>
    <div class="container">
        <img src="/assets/images/prof5.jpg" alt="profile picture">
        <h1 style="font-size:25px;font-weight:bold">Hello</h1>
        <h3 style="font-size:18px;font-weight:bold;margin-bottom:8px">
            I am a 4th year student studying Electrical Engineering
            at the University of British Columbia in Vancouver.
            I have a passion for software development, robotics,
            hiking, and learning new random skills.
        </h3>
        <hr style="margin-left:0px;">
        <p style="font-size:18px">
            I have always been fascinated by the software elements in robotics and automotive applications, 
            and enjoy combining hardware and software concepts in engineering design team activities 
            and personal projects in order to become a well-rounded engineer that would be of use in a 
            versatile environmnent.
            <br><br>
            Being an avid hiker and mountain runner, I like to travel around the world capturing photographies of 
            the outdoors. I enjoy exploring new technologies and software projects as well as creating digital art, 
            training in martial arts, or practicing the violin. 
            Occasionally, I sleep.
        </p>
    </div>
    <!-- <hr> -->
</div>

<div class="index-block">
    <section>
        <div class="index-container">
            <h1 style="font-size:25px;font-weight:bold">Index</h1>
            <hr>
            <div *ngFor="let navItem of navItems">
                <button style="padding:0px" type="button" class="btn btn-link" (click)="navTo(navItem)">
                    <h3>{{navItem.name}}</h3>
                </button>
                <p>{{navItem.desc}}</p>
            </div>
        </div>
    </section>
</div>
<!-- <div class="parallax"></div> -->