<!-- Container element -->
<div id="top" class="parallax">
    <article class="titles">
        <h1>Isabelle André</h1>
        <h2>Silicon Engineer, MS ECE Student </h2>
        <a class="read" (click)="onClick()">read more...</a>
    </article>
</div>

<!-- about layout -->
<div id="home-about" class="about-block">
    <h1 class="page-title" style="text-align:center" position="relative">About</h1>
    <div class="container">
        <img src="/assets/images/prof9.jpg" alt="profile picture">
        <h1 style="font-size:25px;font-weight:bold">Hello</h1>
        <h3 style="font-size:18px;font-weight:bold;margin-bottom:8px">
            I am an BASc Electrical Engineering graduate from the 
            University of British Columbia and a part-time MS ECE student at Purdue University, 
            working as a Silicon Engineer at Microsoft in Mountain View. I enjoy digital design, robotics, and learning new random skills.
        </h3>
        <hr style="margin-left:0px;">
        <p style="font-size:18px">
            Integrating software, microcontrollers, and electronics into robotics applications is one of my 
            many hobbies. Some things have caught on fire in the past, but I have yet to burn my house down and so 
            the hobby continues. 
            <br><br>
            Sometimes I tinker with 3d printers and drones too. They always seem to break at the most 
            important times so 90% of the time is spent maintaining, verbally abusing, and fixing them.
            <br><br>
            Being a fan of hiking and trail running, I like to travel around the world capturing photographies of 
            the outdoors. I enjoy exploring new technologies and software projects as well as training in martial arts and Chinese Lion Dancing.
            Occasionally, I sleep.
        </p>
    </div>
    <!-- <hr> -->
</div>

<div class="index-block">
    <section>
        <div class="index-container">
            <h1 style="font-size:25px;font-weight:bold">Index</h1>
            <hr>
            <div *ngFor="let navItem of navItems">
                <button style="padding:0px" type="button" class="btn btn-link" (click)="navTo(navItem)">
                    <h3>{{navItem.name}}</h3>
                </button>
                <p>{{navItem.desc}}</p>
            </div>
        </div>
    </section>
</div>
<!-- <div class="parallax"></div> -->