.parallax {
    /* The image used */
    background-image: url('/assets/images/about_bkg6.jpg');
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titles {
    text-align: center;
    top: 50%;
    transform: translateY(-30%);
    position: relative;
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(40, 40, 40, 0.0);
    color: whitesmoke;
}

.titles h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 60px;
}

.titles h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

.read {
    cursor: pointer;
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    font-size: 17px;
    text-decoration: none;
    border: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    padding: 3px 15px 3px 15px;
    border-radius: 4px;
}
.read:hover {
    border-color: whitesmoke;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.9);
    padding: 3px 15px 3px 15px;
}

.about-block {
    height: 650px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: auto;
}

.page-title {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #5C6377;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

h1, h3, p {
    font-family: 'Dosis', sans-serif;
}

.container img {
    float: right;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
}

.container hr {
    width: 68%;
}

@media screen and (max-width: 1199px) {
    .container hr {
        width: 64%;
    }
}
@media screen and (max-width: 767px) {
    .container hr {
        width: 50%;
    }
    .about-block {
        height: 850px;
    }
}

.index-block {
    height: 550px;
    width: 100%;
    background-color: rgba(241, 239, 239, 1);
}
/* #CCDCEF */
.index-block section {
    padding-top: 5%;
    padding-bottom: 8%;
    width: 100%;
}

.index-container {
    text-align: left;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    overflow: auto;
}

.index-container h3 {
    font-size: 18px;
    font-weight: bold;
    /* margin: 0px; */
    margin-bottom: 5px;
    width: 70%;
}

.index-container p {
    font-size: 18px;
    margin-bottom: 15px;
}
